* {
  background: black;
  -webkit-user-select: none;
  user-select: none;
}

.main-nav, #hbd, .background , .text p {
  opacity: 0;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 0.85;}
}

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fade-out {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

html, body {touch-action: none;}

body {
  overflow: hidden;
}

.background {
  position: absolute;
  top: -1%;
  left: -0.05%;
  height: 120%;
  width: 101%;
  z-index: -2;
  margin: 0;
  padding: 0;
  /*opacity: 0.9;*/
}

.shadow::before {
  content: '';
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 101%; /* Adjust as needed */
  height: 120%; /* Adjust as needed */
  background: radial-gradient(circle, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0.5) 100%);
  z-index: -1;
}

.text {
  position: absolute;
  margin: 0;
  padding: 0;
  top: -100%;
  left: 50%;
  width: 100%;
  height: 8%;
  line-height: 1.2;
  font-family: 'Urbanist';
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  background: transparent;
  align-items: center;
}

@keyframes shift {
  0% {
    margin-left: -23%;
    margin-top: 40%;
    
  }
  100% {
    margin-left: 0;
    margin-top: 0;
  }
}

#hbd {
  background: transparent;
  /*opacity: 0.8;*/
}

.text h2 {
  padding: 0;
  scale: 0.9;
  margin: 0;
  font-size: 450%;
  color: #ffbbdd;
  background: transparent;
}

#tiny {
  background: linear-gradient(to right, #ff00cc, #3333ff);
  -webkit-background-clip: text;
  background-clip: text;
  font-family: 'Dancing Script';
  font-size: 150%;
  padding-right: 15px;
  color: transparent;
  background-size: 200% auto;
  animation: animateGradient 5s linear infinite;
  text-shadow: 0 0 10px rgba(255, 0, 204, 0.7), 0 0 20px rgba(51, 51, 255, 0.7);
}

@keyframes animateGradient {
  0% {
    background-position-x : 0%;
  }
  100% {
    background-position-x : 200%;
  }
}

.text p {
  position: absolute;
  top: 900%;
  scale: 0.5;
  background: transparent;
  padding: 0;
  margin-top: 20px;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  font-size: 200%;
  /*opacity: 0.8;*/
}

.main-nav {
  position: relative;
  top: 280%;
  scale: 0.5;
  margin: 0 auto;
  padding: 0;
  width: 600px;
  height: 50px;
  background: transparent;
}

.main-nav li{
  list-style: none;
  position: absolute;
  width: 200px;
  height: 200px;
  background: #000;
  transform: rotate(45deg);
  transition: 0.4s ease-in-out;
  margin: -100px;
  overflow: hidden;
  opacity: 0.65;
}

.main-nav li:hover, .main-nav li:focus, .main-nav li:active {
  opacity: 1;
  transform: scale(1.3) rotate(45deg);
  z-index: 0;
  box-shadow: 2px 2px 100px rgba(0,0,1);
}

.main-nav li.item1{
  top: -100%;
  left: 0%;
}

.main-nav li.item2{
  bottom: -100%;
  left: 25%;
}

.main-nav li.item3{
  top: -100%;
  left: 50%;
}

.main-nav li.item4{
  bottom: -100%;
  left: 75%;
}

.main-nav li.item5{
  top: -100%;
  left: 100%;
}

.main-nav li.item6{
  top: 500%;
  left: 50%;
}

.main-nav li .bg{
  width: 100%;
  height: 100%;
  transform: scale(1.1);
}

.main-nav li.item1 .bg{
  background-image: url('photos/1.jpg');
  background-size: cover;
  background-position: center;
  transform: rotate(-45deg);
  scale: 1.4;
}

.main-nav li.item2 .bg{
  background-image: url('photos/2.jpg');
  background-size: cover;
  background-position: center;
  transform: rotate(-45deg);
  scale: 1.4;
}

.main-nav li.item3 .bg{
  background-image: url('photos/3.jpg');
  background-size: cover;
  background-position: center;
  transform: rotate(-45deg);
  scale: 1.4;
}

.main-nav li.item4 .bg{
  background-image: url('photos/4.jpg');
  background-size: cover;
  background-position: center;
  transform: rotate(-45deg);
  scale: 1.4;
}

.main-nav li.item5 .bg{
  background-image: url('photos/5.jpg');
  background-size: cover;
  background-position: center;
  transform: rotate(-45deg);
  scale: 1.4;
}

.main-nav li.item6 .bg{
  background-image: url('photos/6.jpg');
  background-size: cover;
  background-position: center;
  transform: rotate(-45deg);
  scale: 1.4;
}

.mobile-device .main-nav {
  scale: 0.95;
  top: 250%;
}

.mobile-device .text {
  top: 20%;
}

.mobile-device .text p {
  scale: 1;
  top: 700%;
}

.mobile-device .text h2 {
  scale: 1;
}

:root {
  --glow-rgb: 239 42 201;
}

.glow-point {
  position: absolute;
  box-shadow: 0rem 0rem 1.2rem 0.6rem rgb(var(--glow-rgb));
  pointer-events: none;
}

.star {
  position: absolute;
  z-index: 2;
  color: white;
  font-size: 1rem;
  animation-duration: 1500ms;
  animation-fill-mode: forwards;
  pointer-events: none;
}

@keyframes fall-1 {
  0% {
    transform: translate(0px, 0px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(0.25);
    opacity: 0;
  }
  
  5% {
    transform: translate(10px, -10px) rotateX(45deg) rotateY(30deg) rotateZ(0deg) scale(1);
    opacity: 1;
  }
  
  100% {
    transform: translate(25px, 200px) rotateX(180deg) rotateY(270deg) rotateZ(90deg) scale(1);
    opacity: 0;
  }
}

@keyframes fall-2 {
  0% {
    transform: translate(0px, 0px) rotateX(-20deg) rotateY(10deg) scale(0.25);
    opacity: 0;
  }
  
  10% {
    transform: translate(-10px, -5px) rotateX(-20deg) rotateY(10deg) scale(1);
    opacity: 1;
  }
  
  100% {
    transform: translate(-10px, 160px) rotateX(-90deg) rotateY(45deg) scale(0.25);
    opacity: 0;
  }
}

@keyframes fall-3 {
  0% {
    transform: translate(0px, 0px) rotateX(0deg) rotateY(45deg) scale(0.5);
    opacity: 0;
  }
  
  15% {
    transform: translate(7px, 5px) rotateX(0deg) rotateY(45deg) scale(1);
    opacity: 1;
  }
  
  100% {
    transform: translate(20px, 120px) rotateX(-180deg) rotateY(-90deg) scale(0.5);
    opacity: 0;
  }
  }
