.auth{
  display: block;
  border: 2px solid red;
  margin: 2px auto;
  width: 75%;
}

#auth_icon{
  display: inline;
  width: 128px;
  height: 128px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid red;
}

#auth_text{
  display: inline;
  border: 2px solid red;
  margin: auto;
  width: 650px;
  vertical-align: top;
}
