* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

:root {
  --color-base: #000000;
  --color-primary: #fff;
  --color-primary-trans: rgba(255, 255, 255, 0.61);
  --color-secondary: rgba(255, 255, 255, 0.53);
  --color-cta: rgb(255, 255, 255);
  --color-cta-trans: rgba(135, 133, 135, 0.66);
}

::selection {
  color: var(--color-base);
  background: var(--color-cta);
}

@font-face {
  font-family: Nature Beauty;
  src:url("NatureBeauty.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Urbanist;
  background: var(--color-base);
  color: var(--color-primary);
  transition: all 400ms ease;
  line-height: 2;
  font-weight: 300;
  animation: fadeIn 10s;
}

.hero{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0.1, 0.3),rgba(0, 0, 0.1, 0.3));
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-video{
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.container img {
  size: .5rem;
}

.container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.container span{
  color: #03f8fc;
}

.container #intro {
  position: absolute;
  width: 150px;
  left: 0%;
  top: -9%;
  text-align: left;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container #hello {
  color: #fff;
  font-family: Nature Beauty;
}

.container #nceyt {
  font-size: 7.8rem;
  line-height: 1.1;
  white-space: nowrap;
  transition: all 400ms ease;
  color: transparent;
  background: url(media/back-anim.png);
  -webkit-text-stroke: 4.7px #fff;
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 30s linear infinite;
}

@keyframes back{
  100%{ background-position: 2000px 0; }
}

.container #about {
  margin-top: 16px;
  margin-bottom: 16px;
  line-height: 112%;
  color: #bdbbb5;
  font-size: 15px;
  font-weight: bold;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom {
  position: absolute;
  opacity: 0;
  top: 80%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  text-align: center;
  animation: fadeIn 6s;
  animation-delay: 5s;
  animation-fill-mode: forwards;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.custom #type {
  color: #03f8fc;
  text-align: center;
  font-family: Nature Beauty;
}

a {
  padding: .7rem;
  font-size: 2em;
}

a:link {
  color: var(--color-primary);
}

/* visited link */
a:visited {
  color: var(--color-primary-trans);
}

/* mouse over link */
a:hover {
  color: var(--color-cta-trans);
}

/* selected link */
a:active {
  color: var(--color-cta);
}

h1, h2, h3, h4, h5 {
  transition: all 400ms ease;
}

p, large {
  transition: all 400ms ease;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #82817f;
}

h1 {
  font-size: 7.8rem;
  line-height: 1.1;
  white-space: nowrap;
  transition: all 400ms ease;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
  color: var(--color-primary);
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  padding-top: .5rem;
  font-size: .8rem;
}
